header{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}


.lista-horizontal li{
    display: inline-block;
    align-items: center;
    margin: 0 10px;
}


@media (max-width: 400px){

    ul{
        display: block;
        justify-content: center;
    }
    .lista-horizontal li{
        display: flex;
        justify-content: center;
    }
}